/*
 Theme Name:     Hueman Child Theme
 Theme URI:      http://suniel.me
 Description:    Hueman Child Theme
 Author:         Suniel
 Author URI:     http://suniel.me
 Template:       hueman
 Version:        1.0.1
*/

@import url("../hueman/style.css");
/* Typo */
body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
/*Topbar*/
#nav-topbar .nav>li{
    font-size: 14px;
    font-weight: 600;
}
/*Nav Header*/
#nav-header .nav>li{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
/*Header*/
#header{
    background-color: #fff;
}
#header .pad {
    padding-top: 20px;
    padding-bottom: 20px;
}
.site-title{
    float: none;
}
/*Posts*/
.post-comments>span{
    padding: 10px 16px;
}
.post-comments>span:before{
    top: 10px;
}
.post-byline, .post-meta{
    font-weight: 600;
}
.post-title{
    text-transform: uppercase;
}
.post-nav li a span{
    text-transform: uppercase;
    font-weight: 600;
}
/*Widgets*/
.widget>h3{
    font-size: 16px;
    font-weight: 600;
}

/* Footers */
#footer-bottom{
    position: relative;
}
#footer-bottom #back-to-top{
    position: absolute;
    height: 60px;
    border-radius: 50%;
    right: 5%;
    top: -31px;
    z-index: 99;
}
#footer-bottom #back-to-top i{
    top: auto;
    line-height: 57px;
    text-align: center;
}

#footer-bottom .social-links{
    float: none;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
#footer-bottom #copyright, #footer-bottom #credit{
    text-align: center;
    color: #fff;
    font-size: 16px;
}
/*Jetpack overrides*/
div.sharedaddy h3.sd-title:before{
    border-top: 0!important;
}
div.sharedaddy h3.sd-title{
    font-size: 14px!important;
    font-weight: 600!important;
}

